
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background: rgba(244, 244, 244);
}
img{
   
}
span{
    transform: rotate(90deg) translateY(-13.5rem) translateX(15rem);
    font-size: smaller;
}
.change-bg{
    background-color: black;
    color: white;
}