
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.span{
    transform: rotate(90deg) translateY(2rem) translateX(4rem);
    font-size: smaller;
}
.change-bg{
    background-color: black;
    color: white;
}